<!--    templates/base/footer.html    -->

<footer class="footer">
    <div class="footer-group footer-empty"></div>
    <div class="footer-group footer-left">
        <a href="/contact-us">Contact us</a>
        <br>
        <a href="/facilities">Facilities</a>
        <br>
    </div>
    <div class="footer-group footer-right">
        <a href="/emergency-information">Emergency information</a>
        <br>
        <a href="/legal-information">Legal information</a>
        <br>
    </div>
    <div class="footer-group footer-empty"></div>
</footer>
<!--    /templates/footer/footer.html    -->