<!--    templates/admin/home.html    -->

<html lang="en-gb">

    {% include "base/admin-header.html" %}

    <body>

        {% include "base/user-indicator.html" %}

        <div class="container main-content">
            <div class="options">
                <a href="/admin/manage-animals">Manage animals</a>
                <a href="/admin/manage-pages">Manage pages</a>
                <a href="/admin/manage-images">Manage images</a>
                <a href="/admin/manage-users">Manage users</a>
                <a href="/admin/view-stats">View stats</a>
                <a href="/admin/view-hotel">View hotel</a>
            </div>
        </div>

    </body>

</html>
<!--    /templates/admin/home.html    -->