<!--    templates/admin/manage-users.html    -->

<html lang="en-gb">

    {% include "base/admin-header.html" %}

    <body>

        {% include "base/user-indicator.html" %}

        <div class="container main-content">

            {% include "base/admin-alerts.html" %}

            <form action="/admin/manage-users" method="post">
                <label for="user-email">Enter user's email to toggle admin:</label>
                <input type="email" id="user-email" name="email">

                <button type="submit">Submit</button>
            </form>
        </div>

    </body>

</html>
<!--    /templates/admin/manage-users.html    -->