<!--    templates/user/profile.html    -->

<html lang="en-gb">

    {% include "base/header.html" %}

    <body>

        {% include "base/navbar.html" %}

        <div class="container main-content">

            {% if site_vars["alerts"]|length > 0 %}
                {% include "base/alerts.html" %}
            {% endif %}

            <h1>Your Profile</h1>

            <h2>{{ user.email }}{% if user.is_member %}    <span class="member-tag">Member</span>{% endif %}</h2>

            <h3>RZA loyalty points:</h3>
            <p>    {{ user.loyalty_points }}</p>

            {% if not user.is_member %}
                <a href="/membership" class="member-ad">
                    <h3>Become a member</h3>
                </a>
            {% endif %}

            <h3>View:</h3>
            <div class="profile-links">
                <a href="/tickets">Your tickets</a>
                <br>
                <a href="/cart">Your cart</a>
                <br>
                <a href="/settings">Settings</a>
                <br>
                <br>
                <a href="/logout">Logout</a>
            </div>
        </div>

        {% include "base/footer.html" %}

    </body>

</html>
<!--    /templates/user/profile.html    -->